@font-face {
    font-family: "AUPassata_Rg";
    src: url("../font/AUPassata_Rg.ttf");
}

#question {
    font-family: AUPassata_Rg;
    font-size: 50px;
    color: #fff;
    position: absolute;
    width: 80%;
    min-height: 40px;
    z-index: 1;
    bottom: 30%;
    right: 10%;
    text-align: center;
}

button {
    font-size: 30px;
    background: rgba(9,95,66,0.2);
    color: #fff;
    width: 240px;
    height: 80px;
    border: 2px solid #095f42;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
}

button:hover {
    background: #095f42;
    cursor: pointer;
}

.arrow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
}

.flexible-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.flexible-container iframe,
.flexible-container object,
.flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video_box {
    position: relative;
}

.container {
    font-family: AUPassata_Rg;
    font-size: 18px;
    color: #fff;
    position: absolute;
    width: 35%;
    min-height: 24%;
    z-index: 1;
    top: 1%;
    background-color: #095f42;
    opacity: 0.8;
    text-align: center;
}

